.container {
  position: absolute !important;
  left: 0;
  top: 0;
  transform: translate(0, -100%);
  max-width: 200px !important;
  width: 17em;
  min-height: 100px;
  max-height: 130px;
  overflow-y: auto;
  z-index: 3;
  padding: 1em;
  background-color: white;
}
